body {
  background-color: peachpuff;
  color: cadetblue;
  font-family: 'didot', serif;
}
h1 {
  font-size: 40px;
  font-variant: small-caps;
}
a {
  color: black;
}
div {
  border-bottom: 3px dashed cadetblue;
}
